body {
    background-image: url('../images/china.png');
    font-family: Verdana, Arial;
    padding: 0;
    margin: 0;
}

header, footer {
    background-image: url('../images/dark_embroidery.png');
    background-attachment: fixed;
    background-repeat: repeat;
    padding: 50px;
    color: #FFFFFF;
    text-align: justify;
}

footer {
    padding-bottom: 145px;
}


.bg-img {
    background-image: url('../images/china.png');
}

.bg-dark {
    background-image: url('../images/dark_embroidery.png');
}

.img-profile {
    padding-top: 20px;
    width: 200px;
}

img {
    padding-top: 20px;
}

main {
    width: 100%;
}

h3 {
    color: #FFFFFF;
}

h2 {
    color: #FFFFFF;
}

p {
    text-align: justify;

}

ul li {
    list-style-type: none;
    font-size: 21px;
    font-weight: 200;
    padding-bottom: 5px;

}

footer p {
    padding-top:10px;
    text-align: center;
}

iframe {
    vertical-align: center;
    width:100%;
    
    margin:0 auto;
}

.container { 
    position: relative; 
    width: 70%; 
    margin: 0 auto; 
}

#filters {
  margin:.5%;
  padding:0;
  list-style:none;
}

#filters li {
  float:left;
}

#filters li span {
  display: block;
  padding:5px 20px;   
  margin-bottom: 10px;    
  text-decoration:none;
  color:black;
  cursor: pointer;
}

#filters li span.active {
  background:#3B3B3B;
  color:#fff;
}

#portfoliolist .portfolio {
  width:24%;
  margin:.3%;
  display: none;
  float:left;
  overflow:hidden;
}

.portfolio-wrapper {
  overflow:hidden;
  position: relative !important;
  background-image: url('..images/china.png');
  cursor:pointer;
}

.portfolio img {
  max-width:100%;
  position: relative;
}

.portfolio .label {
  position: absolute;
  display: block;
  width: 100%;
  height:40px;
  bottom:-60px;
}

.portfolio .label-bg {
  background-image: url('../images/dark_embroidery.png');
  width: 100%;
  height:100%;
  position: absolute;
  top:0;
  left:0;
}

.portfolio .label-text {
  color:#FFF;
  position: relative;
  z-index:500;
  padding:10px 10px;
}

.portfolio .text-category {
  display:block;
}

/*---FORMULAIRE*/

form {
    margin-top: -5px;
    padding:5px;
    color:black;
    text-align: center;
}

label {
  padding: 5px;
  color: white;
  font-weight: normal;
}

.btn {
    margin-top: 25px;
}

textarea {
    margin-top: 5px;
    padding: 5px;
}